@import "tailwindcss";

:root {
  --background: #0b1120;
  --foreground: #f4f4f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-jetbrains);
}

body {
  background: var(--background);
  color: var(--foreground);
}